<div class="bg">
  <h3>{{pageTitle}}</h3>
  <mat-table class="product-table mat-elevation-z8" *ngIf="dataSource && dataSource.length" [dataSource]="dataSource">
   
    <ng-container matColumnDef="imageUrl">
      <mat-header-cell *matHeaderCellDef>
        <button>show image</button>
      </mat-header-cell>
      <mat-cell *matCellDef="let product">placeholder</mat-cell>
    </ng-container>


    <ng-container matColumnDef="productName">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let product">{{product.productName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let product">{{product.description}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let product">{{product.price}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)">
    </mat-row>

  </mat-table>


</div>
